* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100vh;
    background-color: #CAD2C5;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}


.registerContainer {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #84A98C;
    border-radius: 10px;
    padding: 40px 40px;
    margin: 20px 20px;
    box-shadow: 2px 5px black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

label {
    margin: 10px 0 5px 0;
}

input, button {
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #CAD2C5;
    width: 200px;
}


.registerbutton {
    background-color: #59C3C3;
    width: 200px;
    margin: 30px;
}

.registerbutton:hover {
    cursor: pointer;
}

.error {
    color: red;
    background-color: #CAD2C5;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}


.guideRegister {
    color: black;
    background-color: #CAD2C5;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    margin: 10px 0;
    width: 200px;
}