* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainProfile {
    height: 100vh;
    background-color: #CAD2C5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #84A98C;
    width: 800px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 5px black;
    margin: 50px 20px 100px 20px;
}

.username {
    background-color: #59C3C3;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
}