* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home {
    background-color: #CAD2C5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    flex-wrap: wrap;
    z-index: 1;
}

.randomButtonDiv {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: #84A98C;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 5px black;
}
.alc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.beerImage1 {
    position: absolute;
    opacity: 0.1;
    top: -1000px;
    rotate: 45deg;
    left: 2000px;
    z-index: 0;
    width: 200px;
    animation: slideInRight 10s;
}
.inputAlcText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 200px;
    margin: 20px 10px;
    background-color: #59C3C3;
    height: 40px;
    border-radius: 5px;
}
.inputAlcNumber {
    width: 100px;
    margin: 0 10px;
}

@keyframes slideInRight {
    from {
        transform: translatey(3000px);
    }
    to {
        transform: translatey(0);
    }
}


.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputFields, .homeButtons {
    margin: 20px 10px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.inputFields {
    background-color: #CAD2C5;
    width: 200px;
}

.inputContainer {
    width: 500px;
    background-color: #84A98C;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 5px black;
}

.homeButtons {
    background-color: #59C3C3;
    width: 100px;
}

.randomBeerButton {
    background-color: #59C3C3;
    width: 320px;
    margin: 20px;
}

.homeForm {
    display: inline-block;
}

.explain {
    width: 500px;
    background-color: #84A98C;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 5px black;
}

.explain h2 {
    margin: 5px 0 20px 0;
}

.explain p {
    padding: 5px;
}

input:focus {
    outline: 3px solid #59C3C3;
}

button:focus {
    outline: 3px solid #CAD2C5
}

button:hover {
    cursor: pointer;
}



.beerImage2, .beerImage3 {
    position: absolute;
    height: 80px;
    transform-style: preserve-3d;
    animation: spin 5s linear infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: spin;
    top: 10px;

}

.beerImage2 {
    left: 35px;
    rotate: -90deg;
}
.beerImage3 {
    right: 35px;
    rotate: 90deg;

}

@keyframes spin {
0% {
    transform: rotateY(0);
}
100% {
    transform: rotateY(1turn);
}

}