* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100svh;
    background-color: #84A98C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1  {
    margin: 50px;
}

a {
    color: black;
    border-bottom: 1px solid black;
}


